###  Import des données dans un tableau pandas

In [50]:
import csv
import pandas as pd

data = pd.read_csv("./files/train.csv")

data.head()

,id,brand,model,car_class,range,fuel_type,hybrid,max_power,grbx_type_ratios,weight_min,weight_max,urb_cons,exturb_cons,overall_cons,co,hc,nox,hcnox,ptcl,co2
0,0,MERCEDES,COMBI 110 CDI,MINIBUS,MOY-INFER,GO,non,70.0,M 6,1976,2075,9.1,6.4,7.4,0.083,NaN,0.229,0.250,0.001,195
1,1,MERCEDES,VIANO 2.0 CDI,MINIBUS,MOY-SUPER,GO,non,100.0,A 5,2186,2355,10.2,7.0,8.2,0.078,NaN,0.224,0.233,0.001,216
2,2,MERCEDES,SPRINTER COMBI 319 CDI,MINIBUS,MOY-INFER,GO,non,140.0,A 5,2586,2869,12.5,9.0,10.3,0.067,0.014,1.846,NaN,0.002,272
3,3,RENAULT,MEGANE Coupé EnergyTCe (115ch) eco2,COUPE,MOY-INFER,ES,non,85.0,M 6,1280,1280,6.4,4.6,5.3,0.167,0.039,0.039,NaN,0.001,119
4,4,MERCEDES,COMBI 116 CDI,MINIBUS,MOY-INFER,GO,non,120.0,A 5,2356,2450,10.1,6.9,8.1,0.042,NaN,0.190,0.201,0.001,214

Nettoyage des données :

In [51]:
print(f"Initial: {len(data)}")
# Affiche les informations générales sur le DataFrame (types, valeurs non nulles, etc.)
data.info()

# Calcule les statistiques descriptives pour les colonnes numériques
data.describe()

# Compte le nombre de valeurs nulles dans chaque colonne
data.isnull().sum()

# Affiche le nombre de valeurs nulles par colonne pour mieux comprendre
print("Nombre de valeurs nulles par colonne:")
print(data.isnull().sum())

# On peut choisir de ne supprimer que les lignes où certaines colonnes importantes sont nulles
colonnes_importantes = ['id', 'brand', 'model', 'car_class', 'fuel_type','range',
'max_power', 'overall_cons', 'co2','grbx_type_ratios', 'weight_min', 'weight_max',
'urb_cons', 'exturb_cons']
data.dropna(subset=colonnes_importantes, inplace=True)
print(f"After removing null in important columns: {len(data)}")

# Ou remplacer les valeurs nulles par des valeurs appropriées
data['hc'].fillna(data['hc'].mean(), inplace=True)
data['hcnox'].fillna(data['hcnox'].mean(), inplace=True)
data['ptcl'].fillna(data['ptcl'].mean(), inplace=True)

# On pourrait supprimer les lignes ou nox et co sont nulles (car seulement 86 lignes)
data['nox'].fillna(data['nox'].mean(), inplace=True)
data['co'].fillna(data['co'].mean(), inplace=True)


print(f"After handling nulls: {len(data)}")
print(data.isnull().sum())

# Compte le nombre de lignes dupliquées
data.duplicated().sum()

# Supprime les lignes dupliquées et modifie le DataFrame original
data.drop_duplicates(inplace=True)
print(f"After removing duplicates: {len(data)}")

Initial: 41257
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41257 entries, 0 to 41256
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                41257 non-null  int64
 1   brand             41257 non-null  object
 2   model             41257 non-null  object
 3   car_class         41257 non-null  object
 4   range             41257 non-null  object
 5   fuel_type         41257 non-null  object
 6   hybrid            41257 non-null  object
 7   max_power         41257 non-null  float64
 8   grbx_type_ratios  41257 non-null  object
 9   weight_min        41257 non-null  int64
 10  weight_max        41257 non-null  int64
 11  urb_cons          41251 non-null  float64
 12  exturb_cons       41251 non-null  float64
 13  overall_cons      41257 non-null  float64
 14  co                41171 non-null  float64
 15  hc                7367 non-null   float64
 16  nox               41171 non-null  float64
 17  hcnox             33841 non-null  float64
 18  ptcl              39292 non-null  float64
 19  co2               41257 non-null  int64
dtypes: float64(9), int64(4), object(7)
memory usage: 6.3+ MB
Nombre de valeurs nulles par colonne:
id                      0
brand                   0
model                   0
car_class               0
range                   0
fuel_type               0
hybrid                  0
max_power               0
grbx_type_ratios        0
weight_min              0
weight_max              0
urb_cons                6
exturb_cons             6
overall_cons            0
co                     86
hc                  33890
nox                    86
hcnox                7416
ptcl                 1965
co2                     0
dtype: int64
After removing null in important columns: 41251
After handling nulls: 41251
id                  0
brand               0
model               0
car_class           0
range               0
fuel_type           0
hybrid              0
max_power           0
grbx_type_ratios    0
weight_min          0
weight_max          0
urb_cons            0
exturb_cons         0
overall_cons        0
co                  0
hc                  0
nox                 0
hcnox               0
ptcl                0
co2                 0
dtype: int64
After removing duplicates: 41251

In [52]:
data.to_csv('./files/data_cleaned_train.csv')

Le nettoyage des données est effectué, on peut alors sauvegarder les données propres dans un csv